# Pango APIs
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.1"
  title: Pango API
  description: Move you App forwad with Pango API
  # The Domain of Service
host: api.chaguapango.com 
#Array of sll schemes Pango API supports
schemes:
   - https
# Will be prefixed to all paths   
basePath: /v1
produces: 
 - application/json
paths:
  /properties:
    get:
      summary: Rental Properties
      description: |
        The Properties endpoint returns information about *Pango* rental properties available around a given location. The response includes some details about the rental property and lists the the property in the proper display order by distance.
      parameters:
        - name: user-token
          in: header
          type: string
          description: user access token
          required: false
        - name: latitude
          in: query
          description: Latitude component of location.
          required: true
          type: number
          format: double
        - name: longitude
          in: query
          description: Longitude component of location.
          required: true
          type: number
          format: double
        - name: radius
          in: query
          description: within distance from location, default is 25 Kilometers
          type: integer
          format: int32
        - name: type
          in: query
          type: string
          required: true
          description: The type of properties either Home or Business
        - name: moveInDate
          in: query
          type: string
          required: true
          format: yyyy-mm-dd|yyyy-mm-dd
          description: The expected moving in date range, from and to date sepearted by | operator
      tags:
      - Properties
      responses:
        200:
          description: An array of rental properties
          schema:
            type: array
            items:
              $ref: "#/definitions/Property"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
  /properies/{propertyReferenceId}:
     get:
       summary: A specific rental property
       description: The Property endpoint returns detailed information of a specific Pango rental property
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       tags:
       - Property
       responses:
         200:
           description: Detailed information of the property
           schema:
            $ref: "#/definitions/PropertyDetail"
         default:
          description: An error with a status code between  4XX and 5XX
          schema:
           $ref: "#/definitions/Error"



definitions:
  Property:
   type: object
   properties:
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Peice for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     image:
      type: string
      description: Image URL representing the property
     distance:
      type: number
      format: double
      description: Total distnace in Kelometers from the location
     address:
      type: string
      description: Physical address of the property
  PropertyDetail:
   type: object
   properties:
     propertyDescription:
      type: string
      description: summary description of the property
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Peice for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     availableOn:
      type: string
      format: yyyy-mm-dd
      description: Available on (future date) or available since (past date)
     rentalPeriod:
      type: string
      description: Lease Length. For Example 12 Month Lease
     generalFeatures:
      type: array
      description: General features of the property compaund. For Example Fitness Center, Pool, Garden, Controlled Access etc
      items:
       type: string
     propertyFeatures:
      type: array
      description: Additional features to better describe this property. For Example  Air Conditioning, Ceiling Fans, Cable Ready, Washer/Dryer etc
      items:
       type: string
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     images:
      type: array
      items:
        type: string
        description: Image URL representing the property
      description: Image URLS representing the property
     address:
      type: string
      description: Physical address of the
     location:
      type: array
      description: Longitide[0] and Latitude[1] location components of this property. For Example [-73.93383000695911, 40.81949109558767] implying a property is located at -73.93414657 longitude and 40.82302903 latitude.
      items:
        type: number
        format: double
        description: location component
     terms:
      type: string
      description: Terms,  conditions and any restrictions information


  Error:
   type: object
   properties:
     code:
       type: integer
       format: int32
     message:
       type: string
     fields:
      type: string




