# Pango APIs
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.3"
  title: Pango API
  description: Move you App forwad with Pango API
  # The Domain of Service
host: api.chaguapango.com 
#Array of sll schemes Pango API supports
schemes:
   - https
# Will be prefixed to all paths   
basePath: /v1
produces: 
 - application/json
paths:
  /properties:
    get:
      summary: Rental Properties
      description: |
        The Properties endpoint returns information about *Pango* rental properties available around a given location. The response includes some details about the rental property and lists the the property in the proper display order by distance.
      parameters:
        - name: user-token
          in: header
          type: string
          description: user access token
          required: false
        - name: customerReferenceId
          in: header
          type: string
          description: logged in customer reference identifier
          required: false
        - name: latitude
          in: query
          description: Latitude component of location.
          required: true
          type: number
          format: double
        - name: longitude
          in: query
          description: Longitude component of location.
          required: true
          type: number
          format: double
        - name: radius
          in: query
          description: within distance from location, default is 25 Kilometers
          type: integer
          format: int32
        - name: propertyPurpose
          in: query
          type: string
          required: true
          default: Home
          description: The purpose of use for properties either Home or Business place
        - name: moveInDate
          in: query
          type: string
          required: true
          format: "YYYY-MM-DD|YYYY-MM-DD"
          description: The expected moving in date range, from and to date sepearted by | operator
        - name: roomsCount
          in: query
          type: integer
          format: int32
          default: 1
          description: indicating properties should contain this rooms count
        - name: bedRoomsCount
          in: query
          type: integer
          format: int32
          default: 0
          description: indicating properties should contain this bedrooms count
        - name: selfContainedRooms
          in: query
          type: boolean
          default: false
          description: indicating properties must contain at least a self contained room
      tags:
      - Properties
      responses:
        200:
          description: An array of rental properties
          schema:
            type: array
            items:
              $ref: "#/definitions/Property"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
    post:
      summary: Create a new property
      description: This endpoint will create a new property. This property will be in an unverified status till the coordinator verifies it.  
      tags:
      - Properties
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
           $ref: "#/definitions/Property"
      responses:
       201:
        description: Ok, a new Property created
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"  
  /properties/list:
    get:
      summary: Rental Properties
      description: |
        The Properties endpoint returns information about *Pango* rental properties assigned to a coordinator or by the owner. The response includes some details about the rental property and lists the the property in the proper display order by distance.
      tags:
      - Properties
      parameters:
        - name: user-token
          in: header
          type: string
          description: user access token
          required: false
        - name: customerReferenceId
          in: header
          type: string
          description: logged in customer reference identifier
          required: false
        - name: referenceId
          in: query
          type: string
          description: coordinator id or the owner Id
          required: true
        - name: by
          in: query
          type: string
          description: Group by Owner or Coordinator
          required: true
      responses:
        200:
          description: An array of rental properties
          schema:
            type: array
            items:
              $ref: "#/definitions/Property"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}:
     get:
       summary: A specific rental property
       description: |
         The Property endpoint returns detailed information of a specific Pango rental property
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       tags:
       - Property
       responses:
         200:
           description: Detailed information of the property
           schema:
            $ref: "#/definitions/PropertyDetail"
         default:
          description: An error with a status code between  4XX and 5XX
          schema:
           $ref: "#/definitions/Error"
     put:
       summary: Update a specific rental property
       description: |
         The Property endpoint updates a specific Pango rental property
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       - name: body
         in: body
         description: Updated property 
         required: true
         schema: 
          $ref: "#/definitions/Property"
       tags:
       - Property
       responses:
         200:
           description: Ok, property updated successfully
         default:
          description: An error with a status code between  4XX and 5XX
          schema:
           $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/units:
    post:
       summary: Create a new rental property unit
       description: |
         The Property endpoint creates a new Pango rental property unit
       tags:
       - PropertyUnit
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       - name: body
         in: body
         description: New property unit
         required: true
         schema: 
          $ref: "#/definitions/PropertyDetail"
       responses:
         201:
           description: The request has been fulfilled and resulted in a new resource being created
         default:
           description: An error with a status code between  4XX and 5XX
           schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/units/{unitId}:
    put:
       summary: Updates a specific rental property unit
       description: |
         The Property endpoint updates a specific Pango rental property unit
       tags:
       - PropertyUnit
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: unitId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property unit
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       - name: body
         in: body
         description: Updated property unit
         required: true
         schema: 
          $ref: "#/definitions/PropertyDetail"
       responses:
         200:
           description: Ok, the Pango rental unit has been updated successfully
         default:
           description: An error with a status code between  4XX and 5XX
           schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/units/{unitId}/rent:
    put:
       summary: Updates a specific rental property unit with the rental details 
       description: |
         The Property endpoint updates a specific Pango rental property unit with the rental details
       tags:
       - PropertyUnit
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: unitId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property unit
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       - name: body
         in: body
         description: Unit rental details
         required: true
         schema: 
          $ref: "#/definitions/UnitRentalHistory"
       responses:
         200:
           description: Ok, the Pango rental unit has been updated successfully with the rental details
         default:
           description: An error with a status code between  4XX and 5XX
           schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/units/{unitId}/hold:
    put:
       summary: Updates a specific rental property unit with the holding details 
       description: |
         The Property endpoint updates a specific Pango rental property unit with the holding details
       tags:
       - PropertyUnit
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: unitId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property unit
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       - name: customerReferenceId
         in: header
         type: string
         description: logged in customer reference identifier
         required: true
       - name: body
         in: body
         description: Unit holding details
         required: true
         schema: 
          $ref: "#/definitions/UnitHoldingHistory"
       responses:
         200:
           description: Ok, the Pango rental unit has been updated successfully with the holding details
         default:
           description: An error with a status code between  4XX and 5XX
           schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/enquiries:
    post:
     summary: Creates a new Enquiry to the landlord about Pango based property
     description: |
        The Enquiries endpoint to create a new Enquiry about a Pango based property, that will subsequently notify the landlords about this new intent about their properties
     tags:
      - Enquiry
     consumes:
      - application/json
     parameters:
      - name: user-token
        in: header
        type: string
        description: user access token
        required: true
      - name: customerReferenceId
        in: header
        type: string
        description: logged in customer reference identifier
        required: true
      - name: propertyReferenceId
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
         $ref: "#/definitions/Enquiry"
     responses:
       201:
         description: The request has been fulfilled and resulted in a new resource being created
       default:
        description: An error with a status code between  4XX and 5XX
        schema:
         $ref: "#/definitions/Error"
    get:
      tags:
       - Enquiry
      summary: Enquiries to this property.
      description: |
        This endpoint returns information about enquiries to this property by the current user(potential-tenant) default or All the enquiries made by many potential tenants to this property primariry for the landlord to access.
      parameters:
       - name: propertyReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
       - name: customerReferenceId
         in: header
         type: string
         required: true
       - name: landlordIndicator
         in: query
         type: boolean
         default: false
         description: Relevance access indicator, whether it's being accessed by landloard or potential tenant
      responses:
        200:
         description: An array of Enquiries
         schema:
          type: array
          items:
            $ref: "#/definitions/Enquiry"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
  /properties/enquiries:
     get:
       tags:
        - Enquiry
       summary: Enquiries history
       description: |
          The endpoint returns information about  the Enquiries made by the user to different *Pango* properties when accessed by pontential tenants or Enquiries to *Pango* properties owned by the user when accessed by landlords. The response include some details about the rental property(grouped by) and enquiries to it,  in the proper display order of relevance.
       parameters:
        - name: user-token
          in: header
          type: string
          required: true
        - name: customerReferenceId
          in: header
          type: string
          required: true
        - name: landlordIndicator
          in: query
          type: boolean
          default: false
          description: Relevance access indicator, whether it's being accessed by landlord or potential tenant
       responses:
         200:
           description: An an Array of Enquiries grouped by properties
           schema:
            type: array
            items:
             $ref: "#/definitions/PropertyEnquiry"
         default:
           description: An error with a status code between 4XX and 5XX
           schema:
             $ref: "#/definitions/Error"
  /properties/enquiries/{enquiryReferenceId}:
    put:
     summary: Updates an existing Enquiry  with correspondence from either the potential tenant or the landlord
     tags:
      - Enquiry
      - Correspondence
     consumes:
      - application/json
     parameters:
      - name: user-token
        in: header
        type: string
        required: true
      - name: customerReferenceId
        in: header
        type: string
        required: true
      - name: enquiryReferenceId
        in: path
        type: string
        required: true
      - name: body
        in: body
        required: true
        schema:
         $ref: "#/definitions/Correspondence"
     responses:
       200:
         description: Successful operation
       default:
         description: An error with a status code between  4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
    get:
     summary: Enquiry Details
     description: The endpoint returns detailed information about the Enquiry with it's associated correspondence
     tags:
      - Enquiry
      - Correspondence
     parameters:
      - name: enquiryReferenceId
        in: path
        required: true
        type: string
      - name: user-token
        in: header
        required: true
        type: string
      - name: customerReferenceId
        in: header
        type: string
        required: true
     responses:
       200:
         description: detailed Enquiry with it's responses
         schema:
          $ref: "#/definitions/Enquiry"
       default:
         description: An error with a status code between  4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
  /users:
    post:
     tags:
       - Registration
       - User
     consumes:
       - application/json
     summary: Creates a new Pango user.
     description:  An endpoint for creating a new Pango user, an email with verification link will be sent to the registered email address
     parameters:
       - name: body
         in: body
         required: true
         schema:
          $ref: "#/definitions/User"
     responses:
       201:
        description: Ok, User resgistered, sent  varification email
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
  /users/{userReferenceId}:
    put:
     tags:
       - User
     consumes:
       - application/json
     summary: Updates an existing user
     description:  An endpoint for updating an existing Pango User
     parameters:
       - name: userReferenceId
         in: path
         type: string
         required: true
       - name: body
         in: body
         required: true
         schema:
          $ref: "#/definitions/User"
     responses:
       200:
        description: Ok, User updated
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
  /users/{userReferenceId}/profile:
    put:
     tags:
       - User
     consumes:
       - application/json
     summary: Updates the profile of an existing user
     description:  An endpoint for updating the profile of an existing Pango User
     parameters:
       - name: userReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
       - name: body
         in: body
         required: true
         schema:
          $ref: "#/definitions/CustomerProfile"
     responses:
       200:
        description: Ok, User updated
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
  /users/{userReferenceId}/preferences:
    post:
     tags:
       - CustomerPreference
     consumes:
       - application/json
     summary: Creates a new preference for an existing Pango user
     description:  An endpoint for creating a new preference for an existing Pango user
     parameters:
       - name: userReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
       - name: body
         in: body
         required: true
         schema:
          $ref: "#/definitions/CustomerPreference"
     responses:
       201:
         description: Ok, successfully created a new customer preference
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
    get:
     tags:
       - CustomerPreference
     consumes:
       - application/json
     summary: gets all the preference for an existing Pango user
     description:  An endpoint for retrieving all the preferences for an existing Pango user
     parameters:
       - name: userReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
     responses:
       200:
         description: Ok, successfully retrieved all the preferences
         schema:
           type: array
           items:
             $ref: "#/definitions/CustomerPreference"       
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"           
  /users/{userReferenceId}/preferences/{preferenceId}:
    put:
     tags:
       - CustomerPreference
     consumes:
       - application/json
     summary: Updates an existing preference for an existing Pango user
     description:  An endpoint for updating an existing preference for an existing Pango user
     parameters:
       - name: userReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
       - name: preferenceId
         in: path
         required: true
         type: string
       - name: body
         in: body
         required: true
         schema:
          $ref: "#/definitions/CustomerPreference"
     responses:
       200:
         description: Ok, successfully updated the preference
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
  /authenticate:
    post:
     tags:
      - Login
     consumes:
      - application/json
     summary: Authenticate user by emailAddress and password
     description: |
        An endpoint for authenticate a pango user with supplied emailAddress and password, an expiring access token is returned along side the firstname, lastname as well the customerReferenceId
     parameters:
      - name: body
        in: body
        required: true
        schema:
         $ref: "#/definitions/Login"
     responses:
       200:
        description: access-token , customerReferenceId and username
        schema:
         type: object
         properties:
          firstName:
           type: string
           description: logged in user's first name
          lastName:
           type: string
           description: logged in user's last name
          customerReferenceId:
           type: string
           description: to be used in subsequent api calls
          access-token:
           type: string
           description: expiring encrypted access token, to be used in all API call for the loggged in user
       default:
         description: An error with a status code between 4XX and 5XX
         schema:
           $ref: "#/definitions/Error"

definitions:
  Property:
   type: object
   properties:
     purpose:
      type: string
      description: Information indicating what this property is good for, For Example. Home or Business
     propertyDescription:
      type: string
      description: summary description of the property
     listingFor:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Peice for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     photoUrl:
       $ref: "#/definitions/Attachment"
     distance:
      type: number
      format: double
      description: Total distnace in Kelometers from the location
     address:
      type: string
      description: Physical address of the property
  PropertyDetail:
   type: object
   properties:
     purpose:
      type: string
      description: Information indicating what this property is good for, For Example. Home or Business
     propertyDescription:
      type: string
      description: summary description of the property
     listingFor:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Price for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     availableOn:
      type: string
      format: YYYY-MM-DD
      description: Available on (future date) or available since (past date)
     rentalPeriod:
      type: string
      description: Lease Length. For Example 12 Month Lease
     generalFeatures:
      type: array
      description: General features of the property compaund. For Example Fitness Center, Pool, Garden, Controlled Access etc
      items:
       type: string
     propertyFeatures:
      type: array
      description: Additional features to better describe this property. For Example  Air Conditioning, Ceiling Fans, Cable Ready, Washer/Dryer etc
      items:
       type: string
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     photoUrls:
      type: array
      items:
        $ref: "#/definitions/Attachment"
      description: Images encoded in base64 representing the property
     address:
      type: string
      description: Physical address of the
     location:
      type: array
      description: Longitide[0] and Latitude[1] location components of this property. For Example [-73.93383000695911, 40.81949109558767] implying a property is located at -73.93414657 longitude and 40.82302903 latitude.
      items:
        type: number
        format: double
        description: location component
     terms:
      type: string
      description: Terms,  conditions and any restrictions information
  Enquiry:
   type: object
   properties:
    enquiryReferenceId:
     type: string
    subject:
     type: string
     description: The subject of this Enquiry. For Example Interested, or Need More Information about this Unit etc
    introduction:
     type: string
     description: The quick introduction about the prospective tenant and their needs. For Example. I`m John Doe, married and blessed with two children teaching at Mawenzi Sec , searching for a home to accommodate my family
    message:
     type: string
     description: Detailed message to the landlord inticating the intentions and expected responses. For Example. I`m interested in this property and I would like you to schedule me up for site visit as soon as possible
    enquiredOn:
     type: string
     format: "YYYY-MM-DDThh:mm:ssTZD"
     description: The Enquiry date and time of the enquiry
    enquiredBy:
     $ref: "#/definitions/Customer"
    correspondenceCount:
     type: integer
     format: int32
     description: Total messages count exchanged between the two parties to this Enquiry
    correspondence:
      type: array
      description: An array of correspondence, applicable to only to the get operation.
      items:
       $ref: "#/definitions/Correspondence"
  PropertyEnquiry:
   type: object
   properties:
     enquires:
       description: An array of enquiries to this property
       type: array
       items:
        $ref:  "#/definitions/Enquiry"
     propertyReferenceId:
       type: string
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Price for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
  Correspondence:
   type: object
   properties:
    message:
     type: string
    correspondenceType:
     type: string
     description: general category about this response. For Example . SITE_VISIT, TAKEN, REQUEST_INFO etc.
    respondedOn:
     type: string
     format: "YYYY-MM-DDThh:mm:ssTZD"
     description: The response date and time of the enquiry
    attachments:
     type: array
     description: an array of attchment contents requested by either parties up to 3 attachments
     items:
      $ref: "#/definitions/Attachment"
  Attachment:
   type: object
   properties:
    content:
     type: string
     description: base64 encoded attachment content. for Pictures etc
    extension:
     type: string
     description: File Mimetype. For Example png, jpeg, pdf
    size:
     type: number
     format: double
     description: orginal content size in bytes
  Error:
   type: object
   properties:
     code:
       type: integer
       format: int32
     message:
       type: string
     fields:
      type: string
  Customer:
   type: object
   properties:
    firstName:
     type: string
    lastName:
     type: string
    phoneNumber:
     type: string
    altnatePhoneNumber:
     type: string
    emailAddress:
     type: string
    alternateEmailAddress:
     type: string
    address:
     $ref: "#/definitions/Address"
    profile:
     $ref: "#/definitions/CustomerProfile"
  User:
   type: object
   properties:
    firstName:
     type: string
    lastName:
     type: string
    phoneNumber:
     type: string
    alternatePhoneNumber:
     type: string
    emailAddress:
     type: string
    alternateEmailAddress:
     type: string
    password:
     type: string
    profilePicture:
     type: string
    address:
     $ref: "#/definitions/Address"
  CustomerProfile:
   type: object
   properties:
    emailAddress:
     type: string
    password:
     type: string
    profilePicture:
     $ref: "#/definitions/Attachment"
    verified:
     type: boolean
    verificationCode:
     type: string
    verificationDate:
     type: string
     format: YYY-MM-DD
    joinedDate:
     type: string
     format: YYYY-MM-DD
    serachHistory:
      type: array
      items:
       $ref: "#/definitions/SearchCriteria"
  CustomerPreference:
   type: object
   properties:
    customerReferenceId:
     type: string
    preferenceType:
     type: string
     description: reason for this preference. For Example. Notification
    startDate:
     type: string
     format: YYYY-MM-DD
    toDate:
     type: string
     format: YYYY-MM_DD
    forDays:
     type: integer
     format: int32
    active:
     type: boolean
     description: status display or if set to false will diactivate preference
    paid:
     type: boolean
    paidOn:
     type: string
     format: YYYY-MM-DD
    notify:
     type: boolean
    notifyOnCriteria:
     $ref: "#/definitions/SearchCriteria"
  SearchCriteria:
   type: object
   properties:
    searchDate:
     type: string
     format: "YYYY-MM-DDThh:mm:ssTZD"
    longitude:
     type: number
     format: double
    latitude:
     type: number
     format: double
    radius:
     type: integer
     format: int32
    propertyPurpose:
     type: string
    moveInDate:
     type: string
    roomsCount:
     type: integer
     format: int32
    bedRoomsCount:
     type: integer
     format: int32
    selfContainedRoom:
     type: boolean
  Address:
   type: object
   properties:
    addressLine1:
     type: string
    addressLine2:
     type: string
    city:
     type: string
    state:
     type: string
     description: region for E.African countries. For Example Mwanza
    zip:
     type: string
     description: NA for E. Africa region
    country:
     type: string
  Login:
   type: object
   properties:
    emailAddress:
     type: string
    password:
     type: string
  UnitRentalHistory:
   type: object
   properties:
    rentalReferenceId:
      type: string
    propertyUnit:
      $ref: "#/definitions/PropertyDetail"
    customer:
      $ref: "#/definitions/Customer"      
    startDate:
      type: string
      format: YYYY-MM-DD
    endDate:
      type: string
      format: YYYY-MM_DD
  UnitHoldingHistory:
   type: object
   properties:
    holdingReferenceId:
      type: string
    propertyUnit:
      $ref: "#/definitions/PropertyDetail"
    customer:
      $ref: "#/definitions/Customer"      
    startDate:
      type: string
      format: YYYY-MM-DD
    endDate:
      type: string
      format: YYYY-MM_DD

### Customer POST,PUT on Prefererences including payment
### Access properties by customer
