# Pango APIs
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.1"
  title: Pango API
  description: Move you App forwad with Pango API
  # The Domain of Service
host: api.chaguapango.com 
#Array of sll schemes Pango API supports
schemes:
   - https
# Will be prefixed to all paths   
basePath: /v1
produces: 
 - application/json
paths:
  /properties:
    get:
      summary: Rental Properties
      description: |
        The Properties endpoint returns information about *Pango* rental properties available around a given location. The response includes some details about the rental property and lists the the property in the proper display order by distance.
      parameters:
        - name: user-token
          in: header
          type: string
          description: user access token
          required: false
        - name: latitude
          in: query
          description: Latitude component of location.
          required: true
          type: number
          format: double
        - name: longitude
          in: query
          description: Longitude component of location.
          required: true
          type: number
          format: double
        - name: radius
          in: query
          description: within distance from location, default is 25 Kilometers
          type: integer
          format: int32
        - name: type
          in: query
          type: string
          required: true
          description: The type of properties either Home or Business
        - name: moveInDate
          in: query
          type: string
          required: true
          format: "YYYY-MM-DD|YYYY-MM-DD"
          description: The expected moving in date range, from and to date sepearted by | operator
      tags:
      - Properties
      responses:
        200:
          description: An array of rental properties
          schema:
            type: array
            items:
              $ref: "#/definitions/Property"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}:
     get:
       summary: A specific rental property
       description: |
         The Property endpoint returns detailed information of a specific Pango rental property
       parameters:
       - name: propertyReferenceId
         in: path
         required: true
         type: string
         description: Unique identifier representing a specific Pango rental property
       - name: user-token
         in: header
         type: string
         description: user access token
         required: true
       tags:
       - Property
       responses:
         200:
           description: Detailed information of the property
           schema:
            $ref: "#/definitions/PropertyDetail"
         default:
          description: An error with a status code between  4XX and 5XX
          schema:
           $ref: "#/definitions/Error"
  /properties/{propertyReferenceId}/enquiries:
    post:
     summary: Creates a new Enquiry to the landlord about Pango based property
     description: |
        The Enquiries endpoint to create a new Enquiry about  a Pango based property, that will
          subsequently notify the landloards about this new intent about their properties
     tags:
      - Enquiry
     consumes:
      - application/json
     parameters:
      - name: user-token
        in: header
        type: string
        description: user access token
        required: true
      - name: propertyReferenceId
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
         $ref: "#/definitions/Enquiry"
     responses:
       201:
         description: The request has been fulfilled and resulted in a new resource being created
       default:
        description: An error with a status code between  4XX and 5XX
        schema:
         $ref: "#/definitions/Error"
    get:
      tags:
       - Enquiry
      summary: Enquiries to this property.
      description: |
        This endpoint returns information about enquiries to this property by the current user(potential-tenant) default or All the enquiries made by many potential tenants to this property primariry for the landlord to access.
      parameters:
       - name: propertyReferenceId
         in: path
         type: string
         required: true
       - name: user-token
         in: header
         required: true
         type: string
       - name: landloardIndicator
         in: query
         type: boolean
         default: false
         description: Relevance access indicator, whether it's being accessed by landloard or potential tenant
      responses:
        200:
         description: An array of Enquiries
         schema:
          type: array
          items:
            $ref: "#/definitions/Enquiry"
        default:
          description: An error with a status code between  4XX and 5XX
          schema:
            $ref: "#/definitions/Error"
  /properties/enquiries:
     get:
       tags:
        - Enquiry
       summary: Enquiries history
       description: |
          The endpoint returns information about  the Enquiries made by the user to different *Pango* properties when accessed by pontential tenants or Enquiries to *Pango* properties owned by the user when accessed by landloards. The response include some details about the rental property(grouped by) and enquiries to it,  in the proper display order of relevance.
       parameters:
        - name: user-token
          in: header
          type: string
          required: true
        - name: landloardIndicator
          in: query
          type: boolean
          default: false
          description: Relevance access indicator, whether it's being accessed by landloard or potential tenant
       responses:
         200:
           description: An an Array of Enquiries grouped by properties
           schema:
            type: array
            items:
             $ref: "#/definitions/PropertyEnquiry"
         default:
           description: An error with a status code between 4XX and 5XX
           schema:
             $ref: "#/definitions/Error"


  /properties/enquiries/{enquiryReferenceId}:
    put:
     summary: Updates an existing Enquiry  with correspondence from either the potential tenant or the londlord
     tags:
      - Enquiry
      - Correspondence
     consumes:
      - application/json
     parameters:
      - name: user-token
        in: header
        type: string
        required: true
      - name: enquiryReferenceId
        in: path
        type: string
        required: true
      - name: body
        in: body
        required: true
        schema:
         $ref: "#/definitions/Correspondence"
     responses:
       200:
         description: Successful operation
       default:
         description: An error with a status code between  4XX and 5XX
         schema:
           $ref: "#/definitions/Error"
    get:
     summary: Enquiry Details
     description: The endpoint returns detailed information about the Enquiry with it's associated correspondence
     tags:
      - Enquiry
      - Correspondence
     parameters:
      - name: enquiryReferenceId
        in: path
        required: true
        type: string
      - name: user-token
        in: header
        required: true
        type: string
     responses:
       200:
         description: detailed Enquiry with it's responses
         schema:
          $ref: "#/definitions/Enquiry"
       default:
         description: An error with a status code between  4XX and 5XX
         schema:
           $ref: "#/definitions/Error"


definitions:
  Property:
   type: object
   properties:
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Peice for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     photoUrl:
       $ref: "#/definitions/Attachment"
     distance:
      type: number
      format: double
      description: Total distnace in Kelometers from the location
     address:
      type: string
      description: Physical address of the property
  PropertyDetail:
   type: object
   properties:
     propertyDescription:
      type: string
      description: summary description of the property
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Price for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
     availableOn:
      type: string
      format: YYYY-MM-DD
      description: Available on (future date) or available since (past date)
     rentalPeriod:
      type: string
      description: Lease Length. For Example 12 Month Lease
     generalFeatures:
      type: array
      description: General features of the property compaund. For Example Fitness Center, Pool, Garden, Controlled Access etc
      items:
       type: string
     propertyFeatures:
      type: array
      description: Additional features to better describe this property. For Example  Air Conditioning, Ceiling Fans, Cable Ready, Washer/Dryer etc
      items:
       type: string
     rating:
      type: integer
      format: int32
      description: Number representing everage stars rating out of 5 for this property
     reviewCount:
      type: integer
      format: int32
      description : Total number of tenant reviews on this property to date
     photoUrls:
      type: array
      items:
        $ref: "#/definitions/Attachment"
      description: Images encoded in base64 representing the property
     address:
      type: string
      description: Physical address of the
     location:
      type: array
      description: Longitide[0] and Latitude[1] location components of this property. For Example [-73.93383000695911, 40.81949109558767] implying a property is located at -73.93414657 longitude and 40.82302903 latitude.
      items:
        type: number
        format: double
        description: location component
     terms:
      type: string
      description: Terms,  conditions and any restrictions information
  Enquiry:
   type: object
   properties:
    subject:
     type: string
     description: The subject of this Enquiry. For Example Interested, or Need More Information about this Unit etc
    introduction:
     type: string
     description: The quick introduction about the prospective tenant and their needs. For Example. I`m John Doe, married and blessed with two children teaching at Mawenzi Sec , searching for a home to accommodate my family
    message:
     type: string
     description: Detailed message to the landlord inticating the intentions and expected responses. For Example. I`m interested in this property and I would like you to schedule me up for site visit as soon as possible
    enquiredOn:
     type: string
     format: "YYYY-MM-DDThh:mm:ssTZD"
     description: The Enquiry date and time of the enquiry
    correspondenceCount:
     type: integer
     format: int32
     description: Total messages count exchanged between the two parties to this Enquiry
    correspondence:
      type: array
      description: An array of correspondence, applicable to only to the get operation.
      items:
       $ref: "#/definitions/Correspondence"
  PropertyEnquiry:
   type: object
   properties:
     enquires:
       description: An array of enquiries to this property
       type: array
       items:
        $ref:  "#/definitions/Enquiry"
     propertyReferenceId:
       type: string
     purpose:
       type: string
       description: Information representing whether the property is for rent or sale
       default: FOR RENT
     price:
       type: number
       format: double
       description: Price for renting or Buying this property
     currency:
       type: string
     periodPrice:
       type: string
       description: Base period price. Ex-  per month(mo),  per year (yr)
       default: mo
     numberOfRooms:
       type: integer
       format: int32
       description: Total number of rooms in this property unit
     numberOfBedRooms:
       type: integer
       format: int32
       description: Total number of bed rooms in this property unit
     numberOfSelfContainedBedRooms:
        type: integer
        format: int32
        description: Total number of bedrooms containing a bathroom in this property unit
     numberOfBathRooms:
        type: integer
        format: int32
     numberOfKitchens:
       type: integer
       format: int32
     propertySize:
      type: number
      format: double
      description:  Square unit area of the property
     propertySizeUnit:
      type : string
      default: sqft
     availability:
      type: string
      description: Value represeanting whether the property is available now or soon
  Correspondence:
   type: object
   properties:
    message:
     type: string
    correspondenceType:
     type: string
     description: general category about this response. For Example . SITE_VISIT, TAKEN, REQUEST_INFO etc.
    respondedOn:
     type: string
     format: "YYYY-MM-DDThh:mm:ssTZD"
     description: The response date and time of the enquiry
    attachments:
     type: array
     description: an array of attchment contents requested by either parties up to 3 attachments
     items:
      $ref: "#/definitions/Attachment"

  Attachment:
   type: object
   properties:
    content:
     type: string
     description: base64 encoded attachment content. for Pictures etc
    extension:
     type: string
     description: File Mimetype. For Example png, jpeg, pdf
    size:
     type: number
     format: double
     description: orginal content size in bytes
  Error:
   type: object
   properties:
     code:
       type: integer
       format: int32
     message:
       type: string
     fields:
      type: string
